.cart {
  background: #000000;
  border-radius: 12px;
  padding: 50px;
  margin: 20px auto;
  width: 600px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.horizontal__line {
  border: 1px solid rgba(160, 159, 159, 0.5);
  margin: 10px 0px;
}

.cart__title {
  margin-bottom: 15px;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: #333;
}
.cart ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  font-size: 16px;
  font-weight: 600;
}

.cart li:last-child {
  border-bottom: none;
}

.cart button {
  background: #ffffff;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.cart button:hover {
  background: #303030;
}

.cart h3 {
  margin-top: 15px;
  text-align: right;
  font-size: 18px;
  color: #ffffff;
  font-weight: 900;
}

.cart__image {
  width: 100px;
  border-radius: 5%;
}
.cart__icon {
  color: #FFF;
}

/* Планшеты */
@media (max-width: 1024px) {
  .cart {
    width: 90%;
    padding: 40px;
  }

  .cart__title {
    font-size: 22px;
  }

  .cart li {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
  }

  .cart__image {
    width: 80px;
    margin-right: 5%;
  }

  .cart h3 {
    font-size: 16px;
  }
 
}

/* Мобильные устройства */
@media (max-width: 768px) {
  .cart {
    width: 95%;
    padding: 30px;
  }

  .cart__title {
    font-size: 20px;
  }

  .cart li {
    font-size: 15px;
    display: flex;
    justify-content: space-between;

  }

  .cart__image {
    width: 70px;
    margin-bottom: 5px;
  }

  .cart h3 {
    font-size: 15px;
  }
}

/* Очень маленькие устройства */
@media (max-width: 480px) {
  .cart {
    padding: 20px;
  }

  .cart__title {
    font-size: 18px;
  }

  .cart li {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
  }

  .cart__image {
    width: 60px;
  }

  .cart h3 {
    font-size: 14px;
  }
}