.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about__title {
    font-size: 36px;
    font-weight: 600;
    margin-top: 40px;
}

.about__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__text {
    padding: 10px;
    font-size: 20px;
    width: 70%;
    text-align: justify;
}

@media(max-width: 768px) {
    .about__text {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .about__text {
        font-size: 14px;
    }

}